---
title: blog
---

<html>
<head>
    <title>Baojian Zhou</title>
    <meta charset='UTF-8'>
    <meta content='width=device-width, initial-scale=1' name='viewport'/>
    <meta name='description' content='Baojian Zhou is an assistant professor at Fudan University.'>
    <meta name='keywords' content='machine learning, statistical machine learning, linear algebra'>
    <meta name='author' content='Baojian Zhou'>
    
    <link rel='shortcut icon' href="{{ '/favicon.png?v=e' | absolute_url }}" />
    <link rel='stylesheet' href="{{ '/css/blog.css' | absolute_url }}"/>

    {% include mathjax.html %}
</head>
<body>
    {% include nav.html %}
    <div id='blog' class='wrap'>
        <div id='posts' class='section'>
            {% for post in site.posts %}
                <div class='post-row'>
                    <p class='post-title'>
                        <a href="{{ post.url | absolute_url }}">
                            {% katexmm %}
                            {{ post.title }}
                            {% endkatexmm %}
                        </a>
                    </p>
                    <p class='post-date'>
                        {{ post.date | date_to_long_string }}
                    </p>
                </div>
                <p class='post-subtitle'>
                    {% katexmm %}
                    {{ post.subtitle }}
                    {% endkatexmm %}
                </p>
                <span class='hidden'>{{ forloop.index }}</span>
            {% endfor %}
        </div>
    </div>
</body>
</html>